.question-container{

	background: lightblue;
	margin: 50px;
	padding: 5px;
	width:800px;
	line-height: 1.2;
	text-align:center;
}

.question{
	font-weight: bold;
}

.answer{
	font-weight: normal;
	line-height: 1;
}

.name{
	color: black;
	font-style: italic;
}

.Q1{
	color: darkblue;
	text-indent: 30px;
	font-family: "courier";
	padding:5px;
}

.Q2{
	color: purple;
	text-indent: 30px;
	font-family: "Verdana";
	padding:5px;
	line-height: 2;
}

.Q2answer{
	color:red;
	font-family:"Times";
	text-decoration: underline;
    text-decoration-style: double; 
}

.Q3{
	color: green;
	text-indent: 30px;
	font-size: 25px;
	font-family: "Indie Flower";
	padding:5px;
	line-height: 2;
	text-decoration: underline;
}

.Q4{
	font-family: "luimp";
	font-size: 25px;
	line-height: 3;
	color: #006576;
}

.Q5{
	background-color: #006576;
	color:white;
	line-height: 4;
	border:3px solid white;
	padding:10px;
}

/*non google font*/

@font-face {
	font-family: "luimp";
    src: url("luimp.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}		
/*
body{
	background-color:blue;
}

h1 {
	color:purple;
	font-size: 50px;
	border-bottom:2px solid red;
}

h2{
	font-size:22px;
	border-top: 2px solid pink;
}

.red{
	color:red;
	background-color:black;
}

.white{
	color:white;
}

.border{
	background-color:teal;
	border:3px solid yellow;
}

.fun{
	border:1px solid green;
}

iframe{
	width:100%;
	height:100px;
}

.media{
	width:50px;
	height:50px;
}

*/




