body{
	min-height: 100vh;
    background-color: #fefefe;
	font-size: 3.3rem;
	padding: 2em 3em;
	font-family: arial, sans-serif;
}

h3{
	text-align: center;
}

.center {
	margin:0 auto;
}

.content{
	width:90%;
	margin:0 auto;
	line-height: 1.2;
}


.studio{
	margin:0 auto;
	background-color: pink;
	width:300px;
	height: 300px;
	border-radius: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease;
}

.studio:hover{
	background: linear-gradient(#e128ff, #ff5151);
	animation: RedCircle 0.5s ease;

}
	@keyframes RedCircle {
        0%{background-position:0% 30%}
        50%{background-position:100% 30%}
        100%{background-position:0% 30%}
    }

.hover1{
	background: linear-gradient(to bottom, black 0%, black 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
	text-decoration: none;
	cursor: progress; 
	text-anchor: 
}

.hover1:hover{
  background-image: url("image/hs.svg");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.lunch{
	text-align: center;
	padding-top: 10px;
}

/*https://codepen.io/geoffgraham/pen/bxEVEN */

.hover2{
	color:orange;
	text-decoration: none;
	cursor: pointer; 
	background-color:darkblue;
}

.hover2:hover:after{
  content: url("https://media2.giphy.com/media/S6fNNuzUt8vtdAIoP1/giphy.gif?cid=ecf05e47krrqx5m4pbomnjyoewuf7pyegjrvh0z4xgqqya13&rid=giphy.gif");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.aotw{
	text-align: center;
	font-size: 15px;
}

/*https://codemyui.com/insert-with-a-green-background-and-delete-with-reveal-on-hover/ */

.hover3{
	text-decoration: none;
	display: inline-block;
	background: lightblue;
	cursor: crosshair;
	position: relative;
	top: .2em;
	height: 1.31em;
	width: .4em;
	overflow: hidden;
	color: transparent;
	margin: -.4em .07em -.05em .07em;
	border-radius: .3em;
	transition: padding-left ease .3s, padding-right ease .3s, color ease .15s;
}

.hover3:hover {
  width: auto;
  color: black;
  height:auto;
  font-style: italic;
  display: inline-block;
  transition: padding-left ease .3s, padding-right ease .3s, color ease .7s;
 }


.night{
	text-align: center;
}

/*https://codemyui.com/rainbow-shadow-grid-animation-on-hover/ */
.hover4{
  background-color: white;
  display: inline;
  width: 300px;
  min-height: 50px;
  border: 3px solid #555BFF;
  border-radius: 70px 45px 100px 50px;
  padding: 15px;
  margin: calc(50vh - 30px) auto 0 auto;
  box-shadow:   0 0 0 -3px white, 0 0 0 0 green,
      0 0 0 -3px white, 0 0 0 0  yellow,
      0 0 0 -3px white, 0 0 0 0  orange,
      0 0 0 -3px white, 0 0 0 0  red;
  transition: box-shadow 1s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: move;
}

.hover4:hover {
  box-shadow: 10px 5px 0 -3px white, 10px 5px green,
        20px 10px 0 -3px white, 20px 10px yellow, 
        30px 15px 0 -3px white, 30px 15px orange, 
        40px 20px 0 -3px white, 40px 20px red; 


}



